/* ===== Base ===== */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0);
    overflow: hidden;
}
.section-title {
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
 
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
}
/* ===== Header ===== */

.page-header { 
    border-bottom: 1px solid #e7e9fc ;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
 
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.logo {
    font-family: "Raleway", sans-serif;
    line-height: 1.17;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    margin-right: 76px;
    color: #4d5ae5;
}
.logo .logo-accent {
  color: #2e2f42
}


.header-nav {
    display: flex;
    align-items: center;
}



.nav-list {
    display: flex;
    list-style: none;
    gap: 40px;
}



.menu-link {
    display: block;
    padding: 24px 0;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
     color: #2e2f42;
     letter-spacing: 0.02em;
     text-decoration: none;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2,1);
}
.nav-link.current {
position: relative;
}
.nav-link.current::after { 
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;


}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.nav-link.current {
    color: #404bbf;
}
.contacts {
    font-style: normal;
}
.contacts-list{
    display: flex;
    gap: 40px;
    padding: 0;
    text-align: left;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
     text-decoration: none;
     padding: 24px 0 24px;
     display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* ===== Hero ===== */
.hero-section {
    background-color: #2e2f42;
    text-align: center;
   padding: 188px 0;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 56px;
    max-width: 496px;
    margin: 0 auto 48px;
    text-align: center;
}

.primary-btn {
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
        gap: 10px;
    border-radius: 4px;
        padding: 16px 32px;
        border: none;
        transition: background-color 0,25s ease; 
        margin: 0 auto;
        min-width: 169px;
        display: block;
        height: 56px;
}

.primary-btn:hover,
.primary-btn:focus {
    background-color: #404bbf;
}


/* ===== Features ( 2 сeкція)===== */
.features {
    padding: 120px 0;
    overflow: hidden;
}

.features-list {
   display: flex;
    gap: 24px;

}
.features-item {
 flex-basis: calc((100% - 72px) / 4);

}
.features-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    overflow: hidden;
    text-align: left;
}

.features-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}


/* ===== Team ===== */
.team-container {
    padding: 32px 0;
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}
.team-list {
        display: flex;
        gap: 24px;
    }
.team-card {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    flex-basis: calc((100% - 72px) / 4);
}
.team-card-content {
    padding: 32px 0;
    text-align: center;

}


.team-name {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom:  72px;
    text-align: center;
    margin-bottom: 8px;

}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    margin: 0;
    text-align: center;
}

/* ===== Portfolio ===== */
.portfolio {
    padding: 120px 0;
}
.project-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.project-list {
       display: flex;
       flex-wrap: wrap; 
       column-gap: 24px;
       row-gap: 48px;

}

.project-card 
 {
    flex-basis: calc((100% - 48px) / 3);
    background-color: #fff;
    overflow: hidden;
}
.project-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.project-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom:  8px;
    text-align: left;
    
} 

.project-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    text-align: left;
}


/* ===== Footer ===== */

.page-footer {
background-color: #2e2f42;
padding: 100px 0;  
}

.footer-logo {
    letter-spacing: 0.03m;
    margin-bottom: 16px;
    display: inline-block;
    color: #4d5ae5;
}

.footer-logo .logo-parts {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    max-width: 264px;
}